.top-half {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.text {
  text-align: left;
  width: 200;
  display: inline-block;
  margin: 80;
  line-height: 1.5;
}

/* this isn't working for some reason... */
.characteristic-list {
  display: inline-block;
  margin: 80;
  border: 2;
}
