.header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  background-color: green;
  color: white;
  z-index: 1100;
}

.header-top-logo {
  text-align: left;
}

.header-top-button {
  text-align: right;
}
